// base styles
// --------------------

html {
  font-size: 16px;
}

a {
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.container {
  background-color: $container-bg;
}

.sr {
  @extend .sr-only;
}

.page-header {
  .hd-1 {
    margin: 0;
  }
}

.breadcrumb {
  > li {
    + li:before {
      content: "#{$breadcrumb-separator} ";
    }
  }
}

.depth {
  padding: 1.25rem 1.25rem;
}

.depth-2 {
  background: #fcfcfc;
  box-shadow: 0 1px 2px 1px rgba(167, 164, 164, 0.25);
}

#skip-link {
  position: absolute;
  z-index: 1050;
  left: 50%;
  width: 12em;
  padding: 0 0.5em;
  margin-top: 0;
  margin-left: -6.5em;

  a {
    display: block;
    padding: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    line-height: 2;
    text-align: center;
    text-decoration: none;

    &:focus {
      outline: 0;
    }
  }
}

.element-invisible {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  word-wrap: normal;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px,1px,1px,1px);
}

.element-invisible.element-focusable:focus {
    position: static !important;
    overflow: visible;
    width: auto;
    height: auto;
    clip: auto;
}

body .navbar {
  border-bottom: 4px solid #8C1D40;
}
body .user-menu > .nav-button {
  border: none;
  color: #b8b8b8;
  font-size: 16px;
  &:hover,&:focus {
    background: none;
    color: lighten(#b8b8b8,20%);
  }

}

.btn-group > .btn + .dropdown-toggle,
.user-menu .main-btn .icon {
  color: #b8b8b8;
  font-size: 16px;
  &:hover,&:focus {
    background: none;
    color: lighten(#b8b8b8,20%);
  }
}


.user-menu > .nav-button:hover > .icon, .user-menu > .nav-button:focus > .icon {
  background: none;
  color: lighten(#b8b8b8,20%) !important;
}
.user-menu > .nav-button:hover > .icon,
body header.navbar.navbar-default {
  min-height: 0;
}
body {
  .basket .container .basket-items .row {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .basket .container .basket-items {
    margin-top: 0;
  }
  .basket .container {
    padding: 30px 20px 60px;
  }
}
 #error-message {
  .depth.depth-2.message-error-content {
    border: none;
    background: none;
    box-shadow: none;
    position: relative;
    padding-left: 140px;
    max-width: 900px;
    margin: 0 auto;
    &:before {
      content: '';
      position: absolute;
      background: url('/static/images/Oops_.svg');
      background-size: cover;
      width: 100px;
      height: 100px;
      top: 28px;
      left: 0;
    }
  }
}
body .btn-default {
  background: none;
}

body .navbar-brand {
  padding: 0;
}
.about-asu-credit__image-holder {
  min-width: 193px;
}
.about-asu-credit__text-holder {
  h2,h4 {
    font-weight: 800;
  }
  ul,ol {
    padding-left: 16px;
  }
}
body .receipt .table .order-total:last-child {
  padding: 15px 30px;
}
body .receipt .table .header dt:nth-child(3), body .receipt .table .order-line-data dd:nth-child(6),
body .receipt .table .header dt:last-child, body .receipt .table .order-line-data dt:last-child,
body .receipt .price {
  text-align: left;
}


body #error-message .depth.depth-2.message-error-content:before {
  top: 50%;
  transform: translate(0,-50%);
}
body .price {
  display: flex;
  align-items: flex-start;
}
body .currency {
  font-size: 20px;
  transform: translate(50%, -20%);
  display: inline-block;
}

body .receipt .table .header dt:nth-child(2), .receipt .table .order-line-data dd:nth-child(4) {
  width: 30% !important;
}
body .receipt .table .header dt:nth-child(3), .receipt .table .order-line-data dd:nth-child(6) {
  width: 20% !important;
}
body .receipt .table .header dt:nth-child(4),
body .receipt .table .order-line-data dd:nth-child(8) {
  width: 20%;
}
body .receipt .table .order-line-data dd:nth-child(2),
body .receipt .table .header dt:first-child {
  width: 15%;
}
body .receipt .table .order-line-data dd.line-price {
  padding-right: 2%;
}
body .ecomm-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main#main-content {
  flex: 1;
}

.wrapper-footer {
  box-shadow: 0 -1px 1px 0 rgba(0,0,0,0.1);
  border-top: 1px solid #c5c6c7;
  padding: 25px 10px 30px 10px;
  color: #b8b8b8;
  font-size: 12px;
}
footer#footer-openedx.grid-container .nav-legal li a {
  color: #b8b8b8;
  font-size: 12px;
  &:hover {
    border-color:#b8b8b8; 
  }
}
body footer#footer-openedx.grid-container {
  border: none;
  padding: 0;
}
.wrapper-footer footer#footer-openedx .copyright {
  margin: -2px 0 8px 0;
  color: #b8b8b8;
  text-align: left;
}
.wrapper-footer footer#footer-openedx .nav-legal li:not(:first-child) a:before {
  margin-right: 5px;
  content: "-";
}

#error-message {
  flex: 1;
}
body .wrapper-footer {
  box-shadow: none;
  border-top: none;
  background: #fafafa;
}
body footer#footer-openedx.grid-container {
  max-width: 1180px;
  background: #fff;
  padding: 25px 10px 30px 10px;
}
body .next.action-primary.right {
  &:hover,&:focus {
    border-color: #FFC627;
    background: #FFC627;
  }
}
