{# NOTE: This template is intentionally empty. See theming.rst for info on setting up theming. #}

{% load i18n %}

<div class="wrapper wrapper-footer">
    <footer id="footer-openedx" class="grid-container">
      <div class="colophon">



        <p class="copyright">© Arizona State University</p>

        <nav class="nav-legal" aria-label="Юридическая информация">
          <ul>
              <li class="nav-legal"><a target="_blank" href="https://ea.asu.edu/terms-of-use">{% trans "Terms of Service" %}</a></li>
              <li class="nav-legal"><a target="_blank" href="https://ea.adu.edu/how-it-works/technical-requirements">{% trans "Technical Requirements" %}</a></li>
              <li class="nav-legal"><a target="_blank" href="https://ea.asu.edu/about/contact-us">{% trans "Contact Us" %}</a></li>
          </ul>
        </nav>
      </div>

    </footer>
  </div>
