{# NOTE: This template is intentionally empty. See theming.rst for info on setting up theming. #}
<div class="wrapper wrapper-footer">
    <footer id="footer-openedx" class="grid-container">
        <div class="footer-questions">
            <span>Questions?</span>
            <span>Please read our
                <a href="https://ea.asu.edu/faq">FAQ</a> to view common questions.</span>
        </div>
        <div class="colophon">
            <p class="copyright">© Arizona State University</p>
            <nav class="nav-legal" aria-label="Legal">
                <ul>
                    <li class="nav-legal">
                        <a target="_blank" href="https://www.asu.edu/copyright/">Copyright and Trademark</a>
                    </li>
                    <li class="nav-legal">
                        <a target="_blank" href="https://www.asu.edu/accessibility/feedback?a11yref=https%3A%2F%2Fwww.asu.edu%2F">Accessibility</a>
                    </li>
                    <li class="nav-legal">
                        <a target="_blank" href="#">Privacy</a>
                    </li>
                    <li class="nav-legal">
                        <a target="_blank" href="https://www.asu.edu/tou/">Terms of Use</a>
                    </li>
                    <li class="nav-legal">
                        <a target="_blank" href="https://www.asu.edu/asujobs/">Jobs</a>
                    </li>
                    <li class="nav-legal">
                        <a target="_blank" href="https://cfo.asu.edu/emergency">Emergency</a>
                    </li>
                    <li class="nav-legal">
                        <a target="_blank" href="https://contact.asu.edu/">Contact ASU</a>
                    </li>
                </ul>
            </nav>
        </div>
    </footer>
</div>
